@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --Purple-50: hsl(260, 100%, 95%);
  --Purple-300: hsl(264, 82%, 80%);
  --Purple-500: hsl(263, 55%, 52%);

  --White: hsl(0, 0%, 100%);
  --Grey-100: hsl(214, 17%, 92%);
  --Grey-200: hsl(0, 0%, 81%);
  --Grey-400: hsl(224, 10%, 45%);
  --Grey-500: hsl(217, 19%, 35%);
  --Dark-blue: hsl(219, 29%, 14%);
  --Black: hsl(0, 0%, 7%);
}
body {
  font-family: "Barlow Semi Condensed";
  background-color: var(--Grey-100);
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  row-gap: 2em;
  margin-block: 4rem;
}

.card {
  padding: 2em;
  max-width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px gray;
}
.profile-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.profile-pic {
  border-radius: 50%;
  border: 2px solid white;
  max-width: 2rem;
  max-height: 2rem;
}
.profile-info > div {
  line-height: 0.4em;
}

.profile-name {
  font-size: 0.9em;
}
.profile-status {
  font-size: 0.7em;
}

.comment-main {
  font-size: 1.2em;
  font-weight: 500;
}

blockquote {
  margin: inherit;
}

.purple {
  background-color: var(--Purple-500);
  color: var(--White);
}

.grey {
  background-color: var(--Grey-500);
  color: var(--White);
}

.white {
  background-color: var(--White);
  color: var(--Grey-500);
}

.dark-blue {
  background-color: var(--Dark-blue);
  color: var(--White);
}

@media (min-width: 1000px) {
  main {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
    max-width: 80%;
    margin-inline: auto;
    margin-block: 5rem;
  }
  .card {
    max-width: 100%;
    min-width: 250px;
    border-radius: 0.5rem;
  }
  .comment-main {
    font-size: 1em;
  }
  blockquote {
    font-size: 0.9em;
  }
  .purple {
    grid-column: 1/ 3;
    background-image: url("./images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position-x: 88%;
  }

  .dark-blue {
    grid-column: 2/4;
  }
  .last {
    grid-column: 4/5;
    grid-row: 1/3;
  }
}
